.tab{
    position: relative;
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #373737;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
    background-color: #F4F4F4;
    color: #373737;

}

.tab:hover{
    background-color: #373737;
    color: #C0B283;
    border-color: #373737;
}

.row{
    position: relative;
}

.column{
    position: relative;
    display: inline-block;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 5px;
    border-color: #373737;
}

.galleryImage{
    width: 150px;
    height: 150px;
}

.column:hover{
    background-color: #373737;
}

.container{
    overflow: auto;
}

#tabs{
    width: 100%;
    padding: 2px;
    margin: 15% 0;
    position: absolute;
}

#background{
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
    position: absolute;
    top: 0;
    left: 0;
}

#title{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30px;
    font-size: 20px;
    font-family: 'American Typewriter';
    color: #C0B283;
}

#aboutContent{
    position: relative;
    margin: 15% 20%;
    text-indent: 50px;
    font-size: 20px;
    color: #373737;
}

#introContent{
    position: relative;
    margin: 15% 20%;
    text-indent: 50px;
    font-size: 20px;
    color: #373737;
}

#picTable{
    position: absolute;
    margin: 5% 28%;
    height: 550px;
}

#login{
    position: absolute;
    text-align: center;
    margin: 20% 43%;
}