:root{
    --color1: #AC8F57;
    --color2: #2A334F;
    --color3: #BB1515;
    --color4: #E0CDA7;
    --color5: #6B4423;
}

.tab{
    position: relative;
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-style: none;
    border-width: 2px;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'American Typewriter';
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    background-color: var(--color5);
    color: var(--color4);
    border-color: var(--color5);
}

.tab:hover{
    background-color: var(--color1);
    color: var(--color4);
    border-color: var(--color1);
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.row{
    position: relative;
}

.column{
    position: relative;
    display: inline-block;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-color: var(--color5);
    background-color: var(--color5);
    text-align: center;
    font-family: 'American Typewriter';
    font-size: 16px;
    color: var(--color4);
}

.galleryImage{
    width: 180px;
    height: 180px;
}

.shopImage{
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
    border-style: dashed;
    border-width: 5px;
    border-color: var(--color3);
}

.column:hover{
    background-color: var(--color1);
    border-color: var(--color1);
}

.container{
    overflow: auto;
}

.input{
    margin-top: 5px;
}

.doubleInput{
    width: 400px;
    height: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-indent: 2px;
}

#tabs{
    width: 100%;
    padding: 2px;
    margin: 15% 0;
    position: absolute;
}

#background{
    width: 100%;
    height: 100%;
    background-color: var(--color4);
    position: absolute;
    top: 0;
    left: 0;
}

#title{
    position: absolute;
    text-align: center;
    left: 50px;
    top: 50px;
    font-size: 40px;
    font-family: 'American Typewriter';
    color: var(--color1);
}

#aboutContent{
    position: relative;
    margin: 15% 20%;
    text-indent: 50px;
    font-size: 20px;
    color: var(--color2);
}

#introContent{
    position: relative;
    margin: 15% 20%;
    text-indent: 50px;
    font-size: 20px;
    color: var(--color2);
}

#picTable{
    position: absolute;
    margin: 2% 28%;
    padding: 5px;
    height: 90%;
    width: 200%;
}

#login{
    position: absolute;
    text-align: center;
    margin: 20% 43%;
    color: var(--color2);
}

#submitButton{
    color: var(--color1);
    display: none;
}

.colors{
    position: relative;
    width: 50px;
    height: 150px;
}

#colorPalette{
    position: relative;
    display: none;
    margin: 0 20%;
}

#color1{
    background-color: var(--color1);
}

#color2{
    background-color: var(--color2);
}

#color3{
    background-color: var(--color3);
}

#color4{
    background-color: var(--color4);
}

#color5{
    background-color: var(--color5);
}

#contactForm{
    position: absolute;
    top: 20%;
    left: 37%;
    font-family: 'American Typewriter';
    color: var(--color2);
}

#introMessage{
    font-family: 'American Typewriter';
    font-size: 36px;
    margin: 10% 20%;
    text-align: center;
    color: var(--color4);
}

#bubble{
    position: absolute;
    border-style: none;
    border-width: 2px;
    border-radius: 50%;
    top: 20%;
    left: 25%;
    width: 800px;
    height: 300px;
    background-color: var(--color1);
}

#shop{
    pointer-events: none;
}

#name{
    border-style: none;
    background-color: var(--color5);
    color: var(--color1);
}

#email{
    border-style: none;
    background-color: var(--color5);
    color: var(--color1);
}

#description{
    width: 400px;
    height: 300px;
    padding-top: -280px;
    border-style: none;
    background-color: var(--color5);
    color: var(--color1);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-indent: 2px;
}

#description::placeholder{
    color: var(--color4);
}

#name::placeholder{
    color: var(--color4);
}

#email::placeholder{
    color: var(--color4);
}

#input{
    border-style: none;
    background-color: var(--color5);
    color: var(--color2);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-indent: 2px;
}