:root{
    --color1: #BDCEAD;
    --color2: #CEAEBD;
    --color3: #E5CEDC;
    --color4: #F2F3F4;
    --color5: #EADDE1;
}

.tab{
    position: relative;
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-style: none;
    border-width: 2px;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'American Typewriter';
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    background-color: var(--color5);
    color: var(--color2);
    border-color: var(--color5);
}

.tab:hover{
    background-color: var(--color1);
    color: var(--color4);
    border-color: var(--color1);
}

.row{
    position: relative;
}

.column{
    position: relative;
    display: inline-block;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 5px;
    border-color: var(--color5);
    background-color: var(--color5);
}

.galleryImage{
    width: 150px;
    height: 150px;
}

.column:hover{
    background-color: var(--color1);
    border-color: var(--color1);
}

.container{
    overflow: auto;
}

.input{
    margin-top: 5px;
}

#tabs{
    width: 100%;
    padding: 2px;
    margin: 15% 0;
    position: absolute;
}

#background{
    width: 100%;
    height: 100%;
    background-color: var(--color4);
    position: absolute;
    top: 0;
    left: 0;
}

#title{
    position: absolute;
    text-align: center;
    left: 50px;
    top: 50px;
    font-size: 40px;
    font-family: 'American Typewriter';
    color: var(--color2);
}

#aboutContent{
    position: relative;
    margin: 15% 20%;
    text-indent: 50px;
    font-size: 20px;
    color: var(--color2);
}

#introContent{
    position: relative;
    margin: 15% 20%;
    text-indent: 50px;
    font-size: 20px;
    color: var(--color2);
}

#picTable{
    position: absolute;
    margin: 5% 28%;
    height: 550px;
}

#login{
    position: absolute;
    text-align: center;
    margin: 20% 43%;
    color: var(--color1);
}

#submitButton{
    color: var(--color1);
    display: none;
}

.colors{
    position: relative;
    width: 50px;
    height: 150px;
}

#colorPalette{
    position: relative;
    display: inline-flex;
    margin: 0 20%;
}

#color1{
    background-color: var(--color1);
}

#color2{
    background-color: var(--color2);
}

#color3{
    background-color: var(--color3);
}

#color4{
    background-color: var(--color4);
}

#color5{
    background-color: var(--color5);
}